<div class="login-container">
  <div class="login">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    <form [formGroup]="logForm" (ngSubmit)="onSubmitLogin()">
      <h3>Login Here</h3>
      <label for="username">Username</label>
      <input type="text"
             placeholder="Email or Phone"
             id="username"
             formControlName="username">

      <label for="password">Password</label>
      <input type="password"
             placeholder="Password"
             id="password"
             formControlName="password">

      <button type="submit" [disabled]="!logForm.valid" [ngClass]="{'disabled-button': !logForm.valid}">
        Log In
      </button>
    </form>
  </div>
</div>
