.event-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, #1845ad, #f09819); /* Replace with your desired background */
}

.event-form form {
  width: 300px; /* Reduced the width to make it smaller */
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(8, 7, 16, 0.6); /* Reduced the box shadow */
  padding: 30px 25px; /* Reduced padding */
}

.event-form form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.event-form form h3 {
  font-size: 28px; /* Reduced font size */
  font-weight: 500;
  line-height: 38px; /* Reduced line height */
  text-align: center;
}

.event-form form label {
  display: block;
  margin-top: 20px; /* Reduced margin-top */
  font-size: 14px; /* Reduced font size */
  font-weight: 500;
}

.event-form form input {
  display: block;
  height: 40px; /* Reduced height */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 8px; /* Reduced padding */
  margin-top: 6px; /* Reduced margin-top */
  font-size: 12px; /* Reduced font size */
  font-weight: 300;
}

.event-form form ::placeholder {
  color: #e5e5e5;
}

.event-form form button {
  margin-top: 40px; /* Reduced margin-top */
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 12px 0; /* Reduced padding */
  font-size: 16px; /* Reduced font size */
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.disabled-button{
  background-color: grey;
}
